:root{
    --color-bg-m: #3E2E41;
}

body{
    font-family: 'Dancing Script', cursive;
    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?f29e1k');
    src:  url('fonts/icomoon.eot?f29e1k#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?f29e1k') format('truetype'),
      url('fonts/icomoon.woff?f29e1k') format('woff'),
      url('fonts/icomoon.svg?f29e1k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before {
    content: "\e900";
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3E2E41;
    display: none;
    /* Para centrar */
    line-height: 40px;
    text-align: center;
    /* Para que el Menu nos persiga cuando hacemos scroll */
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    /* Cambio el color del icono porque vendria siendo un "texto" */
    color: white;
}

.header{
    background-color: var(--color-bg-m);
    justify-content: space-between;
    flex-wrap: wrap;
}

.header li{
    list-style-type: none;
}

.header a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.header a:hover{
    font-size: 22px;
    color: #F4B5FF;
}

.Menu{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-bg-m);
    height: 25px;
    padding: 20px;
}

.Saludo{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

.cover{
    background-image: url('Cover.JPG');
    background-size: 2000px 300px;
    width: 2000px;
    height: 300px;
    background-repeat: no-repeat;
}

.contenedor-foto{
    position: absolute;
    top: 200px;
}
.foto{
    background-image: url('Foto.JPG');
    background-size: 280px 280px;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.contenedor-hero{
    display: flex;
    flex-wrap: wrap;
}

.caja-texto{
    text-align: justify;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 30px;
    padding: 5px;
}

p{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 60px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    font-family: 'Dancing Script', cursive;
    color: rgba(0, 0, 0, .2);
    background: center / cover url('universe.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    justify-content: center;
}

h3{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}

.proyecto{
    background-color: var(--color-bg-m);
    color: white;
    font-size: 20px;
}

.proyecto a {
    font-size: 22px;
    color: #B788BF;
    text-decoration: none;
}

.proyecto a:hover{
    color: #F4B5FF; 
    font-size: 25px;
}

.cajaProyectos{
    display: flex;
    height: 300px;
    position: relative;
    padding: 0;
}

.cajaProyectos :hover{
    width: 100%;
    height: 100%;
    position: relative;
}

.juegos{
    display: flex;
    height: 300px;
    position: relative;
}

.juegos :hover{
    width: 100%;
    height: 100%;
    position: relative;
}

.tituloJuegos{
    margin: 0;
}

.TicTacToe{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/TicTacToe.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.PiedraPapelTijera{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/PiedraPapelTijera.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.MemoryGame{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/MemoryGame.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.QuienQuiereSerMillonario{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/QQSM.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.BabyYoda{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/BabyYoda.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.Calculadora{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/Calculadora.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.QuoteGenerator{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/QuoteGenerator.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.MeryCinema{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/MeryCinema.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.Contenedor-Dibujos{
    justify-content: center;
    text-align: center;
}

.Marco-Dibujo{
    width: 100%;
}

.Dibujos{
    width: 30%;
}

.h3-dibujo{
    color: #3E2E41;
    font-size: 40px;
}

.boton-dibujo{
    background: transparent;
    border: 2px solid #3E2E41;
    border-radius: 6px;
    border: solid;
    color: #3E2E41;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.contact {
    background-color: var(--color-bg-m);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Contenedor-formulario{
    margin: 5px;
    padding: 5px;
    /* border: solid 1px red; */
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    /* border: solid 1px red; */
}

.social-link.twitter {
    background-image: url('images/twitter.svg');
}

.social-link.github {
    background-image: url('images/github.svg');
}

.social-link.instagram {
    background-image: url('images/instagram.svg');
}
    
.form-email input{
    border-color: #3E2E41;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px;
    background-image: url('images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    /* border: 1px solid red; */
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: white;
    color: #3E2E41;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    position: relative;
    left: 50px;
}

.form-email h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.container{
    /* border: solid 1px red; */
    max-width: 1000px;
    /* Es como decir toma el 100% del width */
    flex: 1; 
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Colocar reglas en el CSS para que cargue estos estilos dependiendo del ancho de la pantalla */

@media screen and (max-width: 1023px) {
.container{
    padding: 0 1em;
}
.contenedor-foto{
    top: 70px;
    left: 150px;
}
}

@media screen and (max-width: 767px) {
.burger-button{
    display: block;
}
.header{
    display: block;
    height: auto;
}
.header ol{
    display: block;
}
.header ol li{
    height: 50px;
}
.header li{
    padding: 20px;
}
.header a{
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
}
.Menu{
    position: fixed;
    background: rgba(169, 66, 159, 0.9);
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -120vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-size: 13px;
}
.Menu.is-active{
    left: 0;
} 
.Menu{
    display: block;
    height: auto;
    text-align: center;
    padding: 15px;
}
.contenedor-foto{
    top: 5px;
    left: 150px;
}
.Saludo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.Marco-Dibujo{
    width: auto;
}
.Dibujos{
    width: 40%;
}
.contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
}
.form-email button{
    margin: 1em auto;
    position: initial;
}
.form-email h3{
    margin-top: 0;
}
}

@media screen and (max-width: 480px) {
.header ol li{
    height: 50px;
}
.header li{
    padding: 20px;
}
.header a{
    justify-content: center;
    height: 40px;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: .5em;
}
.Menu{
    position: fixed;
    background: rgba(169, 66, 159, 0.9);
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -120vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-size: 13px;
}
.Menu.is-active{
    left: -20;
}
.Menu{
    display: block;
    height: auto;
    text-align: center;
}
.contenedor-foto{
    top: 5px;
    left: 100px;
    }
.Saludo{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 40px;
}
.tituloJuegos, p{
    text-align: center;
}
.proyecto{
    display: block;
    background-color: var(--color-bg-m);
    padding-top: 10px;
}
.proyecto a{
    font-size: 20px;
}
.juegos, .cajaProyectos{
    display: inline-block;
    height: 100%;
}
.TicTacToe, .PiedraPapelTijera, .MemoryGame, .QuienQuiereSerMillonario, .BabyYoda, .Calculadora, .QuoteGenerator{
    font-size: .7em;
    margin: .4em 0;
    position: relative;
    left: 15px;
}
.Marco-Dibujo{
    width: auto;
}
.Dibujos{
    width: 60%;
}
.contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
}
.form-email button{
    margin: 1em auto;
    position: initial;
}
.form-email h3{
    margin-top: 0;
}
.Contenedor-formulario{
    padding-left: 0;
}
}

@media screen and (max-width: 320px) {
.header li{
    padding: 20px;
}
.header a{
    font-size: 30px;
}
.Menu{
    display: block;
    height: auto;
    text-align: center;
}
.Menu{
    position: fixed;
    background: rgba(169, 66, 159, 0.9);
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -120vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-size: 13px;
}
.Menu.is-active{
    left: 0;
}
.Menu{
    display: block;
    height: auto;
    text-align: center;
}
.contenedor-foto{
    top: 5px;
    left: 60px;
    }
.Saludo{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 60px;
}
.tituloJuegos, p{
    text-align: center;
}
.proyecto{
    display: block;
    background-color: var(--color-bg-m);
    padding: 1px;
    padding-top: 10px;
}
.proyecto a{
    font-size: 20px;
}
.juegos, .cajaProyectos{
    display: inline-block;
    height: 100%;
}
.TicTacToe, .PiedraPapelTijera, .MemoryGame, .QuienQuiereSerMillonario, .BabyYoda, .Calculadora, .QuoteGenerator{
    font-size: .7em;
    margin: .4em 0;
    position: relative;
    left: 15px;
}
.Marco-Dibujo{
    width: auto;
}
.Dibujos{
    width: 60%;
}
.contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
}
.form-email button{
    margin: 1em auto;
    position: initial;
}
.form-email h3{
    margin-top: 0;
}
.Contenedor-formulario{
    padding-left: 0;
}
}