:root{
    --color-bg-m: #482366;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.header{
    background-color: var(--color-bg-m);
    justify-content: space-between;
    flex-wrap: wrap;
}

.header li{
    list-style-type: none;
}

.header a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

.header a:hover{
    color: rgb(218, 255, 8);
}

.Menu{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-bg-m);
    height: 25px;
    padding: 25px;
}

.contenedor-foto{
    margin: 5px;
    padding: 5px;
}

.foto{
    background-image: url('Foto.JPG');
    background-size: 280px 280px;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.contenedor-hero{
    display: flex;
    flex-wrap: wrap;
}

.caja-texto{
    text-align: justify;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.Saludo{
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
}

h1{
    font-size: 60px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, .2);
    background: center / cover url('universe.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    justify-content: center;
}

h3{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.proyecto{
    background-color: var(--color-bg-m);
    color: white;
    font-size: 20px;
}

.proyecto a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.proyecto a:hover{
    color: rgb(218, 255, 8); 
    font-size: 25px;
}

.juegos{
    display: flex;
    height: 300px;
    position: relative;
}

.juegos :hover{
    width: 100%;
    height: 100%;
    position: relative;
}

.TicTacToe{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/TicTacToe.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.PiedraPapelTijera{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/PiedraPapelTijera.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.MemoryGame{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/MemoryGame.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.QuienQuiereSerMillonario{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/QQSM.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.BabyYoda{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/BabyYoda.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.Calculadora{
    width: 300px;
    height: 300px;
    background-image: url('CaratulasJuegos/Calculadora.JPG');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 1em;
    transition: all 0.6s;
}

.Contenedor-Dibujos{
    justify-content: center;
    text-align: center;
}

.Marco-Dibujo{
    width: 100%;
    /* border: solid 1px red; */
}

.Dibujos{
    width: 30%;
}

.h3-dibujo{
    color: #6f4a8e;
    font-size: 28px;
}

.boton-dibujo{
    background: transparent;
    border: 2px solid #6f4a8e;
    border-radius: 6px;
    border: solid;
    color: #6f4a8e;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.contact {
    background-color: var(--color-bg-m);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Contenedor-formulario{
    margin: 10px;
    padding: 10px;
    padding-left: 40px;
    /* border: solid 1px red; */
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    /* border: solid 1px red; */
}

.social-link.twitter {
    background-image: url('images/twitter.svg');
}

.social-link.github {
    background-image: url('images/github.svg');
}

.social-link.instagram {
    background-image: url('images/instagram.svg');
}
    
.form-email input{
    border-color: #6f4a8e;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px;
    background-image: url('images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    /* border: 1px solid red; */
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: white;
    color: #6f4a8e;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif; 
}

.container{
    /* border: solid 1px red; */
    max-width: 1000px;
    /* Es como decir toma el 100% del width */
    flex: 1; 
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Colocar reglas en el CSS para que cargue estos estilos dependiendo del ancho de la pantalla */

@media screen and (max-width: 1024px) {
    .container{
        padding: 0 1em;
    }
}

@media screen and (max-width: 767px) {
    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li{
        height: 50px;
    }
    .header a{
        justify-content: center;
    }
    .proyecto{
        display: block;
        background-color: var(--color-bg-m);
    }
    .juegos{
        display: inline-block;
    }
    .TicTacToe, .PiedraPapelTijera, .MemoryGame, .QuienQuiereSerMillonario, .BabyYoda, .Calculadora{
        width: auto;
        font-size: .7em;
        margin: .4em 0;
    }
    .Marco-Dibujo{
        width: auto;
    }
    .Dibujos{
        width: 40%;
    }
    .Saludo{
        width: 30px;
        flex-wrap: nowrap;
    }
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li{
        height: 50px;
    }
    .header a{
        justify-content: center;
    }
    .proyecto{
        display: block;
        background-color: var(--color-bg-m);
    }
    .juegos{
        display: inline-block;
    }
    .TicTacToe, .PiedraPapelTijera, .MemoryGame, .QuienQuiereSerMillonario, .BabyYoda, .Calculadora{
        width: auto;
        font-size: .7em;
        margin: .4em 0;
    }
    .Marco-Dibujo{
        width: auto;
    }
    .Dibujos{
        width: 50%;
    }
    .Saludo{
        width: 30px;
        flex-wrap: nowrap;
    }
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li{
        height: 50px;
    }
    .header a{
        justify-content: center;
    }
    .proyecto{
        display: block;
        background-color: var(--color-bg-m);
        padding: 1px;
    }
    .juegos{
        display: inline-block;
    }
    .TicTacToe, .PiedraPapelTijera, .MemoryGame, .QuienQuiereSerMillonario, .BabyYoda, .Calculadora{
        width: auto;
        font-size: .7em;
        margin: .4em 0;
    }
    .Marco-Dibujo{
        width: auto;
    }
    .Dibujos{
        width: 40%;
    }
    .Saludo{
        width: 30px;
        flex-wrap: nowrap;
    }
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
}