body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    /* 3 filas y 2 columnas */
    grid-template: 100px 1fr 150px/ 0.8fr 1fr; 
    height: 100vh;
    grid-template-areas: "header header" 
                        "left contenido" 
                        "footer social";
}

.header{
    grid-area: header;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #e05297;
    border: 1px solid red;
}

.left{
    grid-area: left;
    width: 100%;
    height: 100%;
    background-image: url('Menu.jpg');
    background-size: 60% 100%;
    background-repeat: no-repeat;
    border: 1px solid red;
}

.contenido{
    grid-area: contenido;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #f3bad6;
    border: 1px solid red;
}

.footer{
    grid-area: footer;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #e05297;
    border: 1px solid red;
}
.form-email input{
    border-color: #e05297;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px;
    background-image: url('images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: white;
    color: #e05297;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.social {
    grid-area: social;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #e05297;
    color: white;
    border: 1px solid red;
}


.social-link.twitter {
    background-image: url('images/twitter.svg');
}

.social-link.github {
    background-image: url('images/github.svg');
}

.social-link.instagram {
    background-image: url('images/instagram.svg');
}