body{
    font-family: 'Lobster', cursive;
    background-color: #F4D57E;
}

h1{
    font-size: 60px;
    text-align: center;
    color: #0A000C;
    margin-bottom: 5px;
}

h3{
    font-size: 30px;
    text-align: center;
    color: #5A0708;
}

.Romance{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 10px 100px;
    justify-content: center;
}

.OrgulloYPrejuicio{
    width: 800px;
    height: 400px;
    background-image: url('Portadas/OrgulloYPrejuicio.jpg');
    background-size: 300px 600px;
    background-repeat: no-repeat;
}

.TheNotebook{
    width: 800px;
    height: 400px;
    background-image: url('Portadas/TheNotebook.jpg');
    background-size: 300px 600px;
    background-repeat: no-repeat;
}
.Summer{
    width: 800px;
    height: 400px;
    background-image: url('Portadas/500days.jpg');
    background-size: 300px 600px;
    background-repeat: no-repeat;
}