body {
    background-color: #1a1a2e;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #1a1a2e;
    display: flex;
    color: white;
    margin: 30px auto;
}

#output {
    margin: 20px auto;
    font-size: 20px;
    color: white;
    text-align: center;
}

.containerImage{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.Imagen{
    width: 800px;
    height: 400px;
    background-image: url('Wallpapers/1.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

.Imagen2{
    width: 800px;
    height: 400px;
    background-image: url('Wallpapers/2.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

.Imagen3{
    width: 800px;
    height: 400px;
    background-image: url('Wallpapers/3.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

.Imagen4{
    width: 800px;
    height: 400px;
    background-image: url('Wallpapers/4.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

.Imagen5{
    width: 800px;
    height: 400px;
    background-image: url('Wallpapers/5.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

.Imagen6{
    width: 800px;
    height: 400px;
    background-image: url('Wallpapers/6.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
    .containerImage{
        padding: 0 1em;
    }
}
@media screen and (max-width: 767px) {
    h1{
    font-size: 40px;
    }
    .Imagen, .Imagen2, .Imagen3, .Imagen4, .Imagen5, .Imagen6{
        width: 100%;
        background-size: 500px 400px;
    }
    .btn{
        font-size: 15px;
    }
    #output{
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {
    h1{
    font-size: 25px;
        }
    .Imagen, .Imagen2, .Imagen3, .Imagen4, .Imagen5, .Imagen6{
        width: 100%;
        background-size: 400px 300px;
    }
    .btn{
        font-size: 15px;
    }
    #output{
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    h1{
        font-size: 20px;
        }
    .Imagen, .Imagen2, .Imagen3, .Imagen4, .Imagen5, .Imagen6{
        width: 100%;
        background-size: 300px 200px;
        }
    .btn{
        font-size: 15px;
    }
    #output{
        font-size: 15px;
    }
}